name: awesome-bot

on:
  push:
  pull_request:
  schedule:
    - cron: 5 4 * * 5

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.6
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6.9
    - name: Checks
      run: |
        gem install awesome_bot
        awesome_bot README.md --allow-ssl -a 302,429,301 -w www.latex-project.org,mirrors.ctan.org,authorea.com,prism.openai.com