name: awesome-bot

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.6
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - name: Checks
      run: |
        gem install awesome_bot
        awesome_bot README.md --allow-ssl -a 302,429 -w https://www.latex-project.org/,https://github.com/sindresorhus/awesome